@model Contracts.Database.Dog

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<table class="table">
    @* <thead>
        <tr>
            <th>
               1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
        <td>
            @{string imagePath = $"/images/{Model.Id}/Title.jpg";}
            <img src=@imagePath> <br>
        </td>
        <td>
            <div>
                <h4>@Html.DisplayFor(model => model.Name)</h4>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Breed)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Breed)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Size)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Size)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.About)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.About)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Row)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Row)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Enclosure)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Enclosure)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.LastUpdate)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.LastUpdate)
                    </dd>
                </dl>
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                <a asp-action="Index">Back to List</a>
            </div>
        </td>
    </tbody>
</table>
