@model IList<Contracts.Database.Dog>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Dogs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @* <thead>
        <tr>
            <th>
               1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
@for (int i = 0; i < Model.Count ; ++i) {
    if (i % 4 == 0)
    {
        @:<tr>
    }
        <td>
            @{string imagePath = $"/images/{Model[i].Id}/Title.jpg";}
            <img class="dog-title-img" src=@imagePath> <br>
            <b>Name:</b> @Model[i].Name <br>
            <b>Age:</b> @Model[i].Age <br>
            @Model[i].About <br>
            @Html.ActionLink("Edit", "Edit", new { id = Model[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model[i].Id })
        </td>
    if (i % 4 == 3)
    {
        @:</tr>
    }
}
    </tbody>
</table>
