@model IList<Contracts.Database.Dog>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Dogs</h1>

<p>
    <a asp-action="Create">Add new dog</a>
</p>
<form asp-action="Index">
    <div class="search-from form-group">
        <input name="searchRequest" class="search-request form-control" />
        <input type="submit" value="Search" class="search-request-btn btn btn-primary" />
    </div>
</form>

<div class="dogs-container">
@for (int i = 0; i < Model.Count || i % 4 != 0; ++i) {
    if (i % 4 == 0)
    {
        @:<div class="row">
    }

    @if (i < Model.Count)
    {
        <div class="col"> 

            <div class="title-container">
                @{string imagePath = $"/images/{Model[i].Id}/Title.jpg";}
                <img class="dog-title-img" src=@imagePath>
            </div>

            <div class="details-container">

                <div class="name-container">
                    <b>Name:</b> @Model[i].Name
                </div>

                <div class="age-container">
                    @{int age = 0;}
                    @if (DateTime.Now.DayOfYear > Model[i].BirthDate.ToLocalTime().DayOfYear)
                    {
                        age = DateTime.Now.Year - Model[i].BirthDate.ToLocalTime().Year;
                    }
                    else
                    {
                        age = DateTime.Now.Year - Model[i].BirthDate.ToLocalTime().Year - 1;
                    }
                    <b>Age:</b> @age
                </div>

            </div>

            <div class="about-container">
                @Model[i].About
            </div>

            <div class="references-container">
                [ @Html.ActionLink("Edit", "Edit", new { id = Model[i].Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model[i].Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model[i].Id }) ]
            </div>
        </div>
    }
    else
    {
        <div class="col">
        </div>
    }

    if (i % 4 == 3)
    {
        @:</div>
    }
}
</div>
