@model IList<Contracts.Database.Dog>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@inherits Helper<TModel>

<form>
    
    <div class="search-from form-group" id="search-form">
        <input name="searchRequest" type="search" class="form-control search-request" id="search-request" />
        <input type="button" value="Search" class="btn btn-primary search-request-btn" id="search-request-btn" />
    </div>

    <p class="show-filters-button" id="show-filters-button">show filters</p>
    <div class="search-filters" id="search-filters" hidden>
        <div class="filter-age">
            Age
            <br>
            <input id="age-slider" class="multi-range age-slider" type="range" />
            <input name="filterAge" id="filter-age-monthnumber" type="number" hidden/>
            <br>
            <label id="selected-age"></label>
            @if(Context.Request.Path.ToString().Split("/").Last().ToLower() == "home")
            {
                <script>
                    var wentHome = true;
                </script>
            }
            else
            {
                <script>
                    var wentHome = false;
                </script>
            }
            
            <script>
                var birthDates;
            </script>
        </div>
        <div class="filter-row">
            Row
            <br>
            <input name="filterRow" id="row-filter" class="row-filter" type="number" />
        </div>
        <div class="filter-enclosure">
            Enclosure
            <br>
            <input name="filterEnclosure" id="enclousre-filter" class="encosure-filter" type="number" />
        </div>
    </div>

</form>

<hr />

@if(!Model.Any())
{
    <h1>No any result</h1>
}
else
{    
    <div class="dogs-container">
    @for (int i = 0; i < Model.Count || i % 4 != 0; ++i) {
        if (i % 4 == 0)
        {
            @:<div class="row">
        }

        @if (i < Model.Count)
        {
            <div class="col"> 
                <div class="card">
                    
                        @{string imagePath = $"https://storage.googleapis.com/sirius_dogs_test/{Model[i].Id}/{Model[i].TitlePhoto}";}
                        <a href="/Dogs/Details/@Model[i].Id">
                        <div class="card-img-container">
                            <img src=@imagePath class="card-img-top" alt="...">
                        </div>
                        </a>

                    <div class="card-body">

                        <div class="name-age">

                            <div class="name-container">
                                <h5>@Model[i].Name</h5>
                            </div>

                            <div class="age-container">
                                <h6>@GetAge(Model[i].BirthDate)</h6>
                            </div>

                        </div>

                        <p class="card-text">
                            @{string firstLineAbout = Model[i].About.Split("\r\n")[0].Length < 30 ? Model[i].About.Split("\r\n")[0] : Model[i].About.Split("\r\n")[0].Substring(0, 30).Trim()+"...";}
                            @firstLineAbout
                        </p>

                    </div>

                </div>
            </div>
        }
        else
        {
            <div class="col">
            </div>
        }

        if (i % 4 == 3)
        {
            @:</div>
        }
    }
    </div>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if(ViewBag.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page-1) aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @if(ViewBag.Page > 2)
                {
                    <li class="page-item">
                        <a class="page-link" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page-2)>
                            @(ViewBag.Page - 2)
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page-1)>
                        @(ViewBag.Page - 1)
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link disabled" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page-1) aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            <li class="page-item">
                <a class="page-link active" href="">
                    @ViewBag.Page
                </a>
            </li>

            @if(ViewBag.Page * ViewBag.DogsPerPage < ViewBag.DogsCount)
            {
                <li class="page-item">
                    <a class="page-link" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page+1)>
                        @(ViewBag.Page + 1)
                    </a>
                </li>

                @if((ViewBag.Page + 1) * ViewBag.DogsPerPage < ViewBag.DogsCount)
                {
                    <li class="page-item">
                        <a class="page-link" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page+2)>
                            @(ViewBag.Page + 2)
                        </a>
                    </li>                
                }

                <li class="page-item">
                    <a class="page-link" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page+1) aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link disabled" href=@PaginationHref(ViewContext.HttpContext.Request.QueryString.Value, ViewBag.Page+1) aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
                            
        </ul>
    </nav>
}

<script src="~/js/search.js" ></script>